<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/output.css" />

    <title>
        Password App
    </title>
</head>
<body>
<header class="h-12 w-full flex items-center justify-between border-b border-b-[#90909030] bg-[#141414]">
    <div class="p-6 bg-transparent">
        <a href="./index.html" class="bg-transparent">
            <img src="../assets/imgs/logo.png" alt="logo" width="32" height="32" class="bg-transparent select-none" />
        </a>
    </div>

    <div class="w-full draggable h-full bg-transparent flex items-center justify-between">
        <h3 class="bg-transparent text-[#90909070] select-none font-semibold">
            ADD PASSWORD
        </h3>
    </div>

    <div class="flex items-center justify-center gap-x-2 p-6 bg-transparent">
        <button id="minimizeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer self-center">
            <img src="../assets/icons/minimize.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
        </button>

        <button id="maximizeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
            <img src="../assets/icons/maximize.svg" alt="close" width="32" height="32" class="bg-transparent self-center" />
        </button>

        <button id="closeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
            <img src="../assets/icons/close.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
        </button>
    </div>
</header>

<main class="w-full h-[100dvh] bg-transparent flex">
    <aside class="bg-[#141414] min-w-16 w-16 h-full flex flex-col items-center justify-between gap-y-2 p-4 border-r border-[#90909030]">
        <div class="flex flex-col bg-transparent gap-y-2">
            <a href="./list.html" class="p-1 rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                <img src="../assets/icons/list.svg" alt="list" width="32" height="32" class="bg-transparent select-none" />
            </a>

            <a href="./generate.html" class="p-1 rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                <img src="../assets/icons/generate.svg" alt="generate" width="32" height="32" class="bg-transparent select-none" />
            </a>
        </div>

        <a href="./settings.html" class="p-1 rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none mb-12">
            <img src="../assets/icons/settings.svg" alt="generate" width="32" height="32" class="bg-transparent select-none" />
        </a>
    </aside>

    <section class="bg-transparent w-full h-full p-6" id="management">
        <h1 class="bg-transparent">DETAILS</h1>
        <p class="text-[#909090] font-semibold bg-transparent">Details about a new password.</p>

        <ul id="errors" class="bg-[#141414] rounded-sm border-[#90909030] border p-3 flex flex-col mt-4 max-lg:w-full lg:w-[50%] gap-y-2 hidden">
            <li class="bg-transparent flex items-center justify-between">
                <h3 class="bg-transparent font-semibold text-[#90909060]">
                    ERRORS
                </h3>

                <button id="closeErrors" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                    <img src="../assets/icons/close.svg" alt="close" width="16" height="16" class="bg-transparent select-none" />
                </button>
            </li>

            <ul class="bg-transparent flex flex-col gap-y-[2px] pl-2]">
                <li class="bg-transparent text-[#909090] font-semibold hidden" id="usernameError">
                    You must provide a username or an email address.
                </li>
                <li class="bg-transparent text-[#909090] font-semibold hidden" id="passwordError">
                    You must provide a password.
                </li>
            </ul>
        </ul>


        <label for="username" class="text-[#909090] font-semibold bg-transparent pt-4 flex items-center gap-x-1 pb-2">
            USERNAME
        </label>
        <input name="username" type="text" value="" placeholder="Enter username or email." class="bg-transparent p-2 outline-none border-[#90909030] border rounded-md font-medium max-lg:w-full w-[50%]" maxlength="64" minlength="3" id="username" />

        <label for="password" class="text-[#909090] font-semibold bg-transparent pt-4 flex items-center gap-x-1 pb-2">
            PASSWORD
        </label>
        <input name="password" type="text" value="" placeholder="Enter password." class="bg-transparent p-2 outline-none border-[#90909030] border rounded-md font-medium max-lg:w-full w-[50%]" maxlength="64" minlength="3" id="password" />

        <label for="password" class="text-[#909090] font-semibold bg-transparent pt-4 flex items-center gap-x-1 pb-2">
            TYPE
        </label>

        <div class="grid max-lg:w-full w-[50%] grid-cols-2 gap-[2px]">
            <div class="bg-transparent flex items-center justify-start gap-x-2">
                <input type="radio" id="type-instagram" name="type" value="0" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#6868DF] checked:border-[#6868DF] duration-150" checked />
                <label for="type-instagram" class="text-[#909090] font-semibold bg-transparent">
                    Instagram
                </label>
            </div>

            <div class="bg-transparent flex items-center justify-start gap-x-2">
                <input type="radio" id="type-github" name="type" value="1" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#6868DF] checked:border-[#6868DF] duration-150" />
                <label for="type-github" class="text-[#909090] font-semibold bg-transparent">
                    GitHub
                </label>
            </div>

            <div class="bg-transparent flex items-center justify-start gap-x-2">
                <input type="radio" id="type-facebook" name="type" value="2" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#6868DF] checked:border-[#6868DF] duration-150" />
                <label for="type-facebook" class="text-[#909090] font-semibold bg-transparent">
                    Facebook
                </label>
            </div>

            <div class="bg-transparent flex items-center justify-start gap-x-2">
                <input type="radio" id="type-other" name="type" value="3" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#6868DF] checked:border-[#6868DF] duration-150" />
                <label for="type-other" class="text-[#909090] font-semibold bg-transparent">
                    Other
                </label>
            </div>
        </div>

        <div class="bg-transparent flex max-lg:flex-col max-lg:w-full w-[50%] gap-2 pt-4">
            <button id="addPassword" class="bg-[#4040BF] duration-150 hover:bg-[#6868DF] text-center rounded-sm cursor-pointer py-1 w-full font-semibold">
                Add Password
            </button>
        </div>
    </section>
</main>

<script src="../js/window/buttons.js" type="module"></script>
<script src="../js/pages/add.js" type="module"></script>
</body>
</html>