<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/output.css" />

        <title>
            Password App
        </title>
    </head>
    <body>
        <header class="h-12 w-full flex items-center justify-between border-b border-b-[#90909030] bg-[#141414]">
            <div class="p-6 bg-transparent">
                <a href="./index.html" class="bg-transparent">
                    <img src="../assets/imgs/logo.png" alt="logo" width="32" height="32" class="bg-transparent select-none" />
                </a>
            </div>

            <div class="w-full draggable h-full bg-transparent flex items-center justify-between">
                <h3 class="bg-transparent text-[#90909070] select-none font-semibold">
                    GENERATOR
                </h3>
            </div>

            <div class="flex items-center justify-center gap-x-2 p-6 bg-transparent">
                <button id="minimizeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer self-center">
                    <img src="../assets/icons/minimize.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
                </button>

                <button id="maximizeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                    <img src="../assets/icons/maximize.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
                </button>

                <button id="closeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                    <img src="../assets/icons/close.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
                </button>
            </div>
        </header>

        <main class="w-full h-[100dvh] bg-transparent flex">
            <aside class="bg-[#141414] min-w-16 w-16 h-full flex flex-col items-center gap-y-2 p-4 border-r border-[#90909030]">
                <a href="./list.html" class="p-1 rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                    <img src="../assets/icons/list.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
                </a>

                <a href="./generate.html" class="p-1 rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                    <img src="../assets/icons/generate.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
                </a>
            </aside>

            <section class="bg-transparent w-full h-full p-6 overflow-x-hidden overflow-y-auto">
                <h1 class="bg-transparent uppercase">
                    Options
                </h1>

                <p class="bg-transparent font-medium text-[#909090]">
                    Click below to edit process of generating your password.
                </p>

                <div class="bg-transparent grid max-lg:grid-cols-2 place-items-start py-2">
                    <div class="bg-transparent flex flex-row-reverse justify-start gap-y-1 gap-x-2 items-center">
                        <label for="lowercase-letters" class="bg-transparent text-[#909090] font-medium">Allow lowercase letters in a password.</label>
                        <input checked type="checkbox" name="lowercase-letters" id="lowercaseLettersOption" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#6868DF] checked:border-[#6868DF] duration-150" />
                    </div>

                    <div class="bg-transparent flex flex-row-reverse justify-start gap-x-2 items-center">
                        <label for="uppercase-letters" class="bg-transparent text-[#909090] font-medium">Allow uppercase letters in a password.</label>
                        <input checked type="checkbox" name="uppercase-letters" id="uppercaseLettersOption" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#6868DF] checked:border-[#6868DF] duration-150" />
                    </div>

                    <div class="bg-transparent flex flex-row-reverse justify-start gap-x-2 items-center">
                        <label for="numbers" class="bg-transparent text-[#909090] font-medium">Allow numbers in a password.</label>
                        <input checked type="checkbox" name="numbers" id="numbersOption" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#6868DF] checked:border-[#6868DF] duration-150" />
                    </div>

                    <div class="bg-transparent flex flex-row-reverse justify-start gap-x-2 items-center">
                        <label for="special-characters" class="bg-transparent text-[#909090] font-medium">Allow special characters in a password.</label>
                        <input type="checkbox" name="special-characters" id="specialCharactersOption" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#6868DF] checked:border-[#6868DF] duration-150" />
                    </div>
                </div>

                <h1 class="bg-transparent uppercase pt-4">
                    LENGTH
                </h1>

                <p class="bg-transparent font-medium text-[#909090]">
                    Length of these passwords.
                </p>

                <div class="bg-transparent flex items-center justify-start gap-x-1 min-w-36 pt-2">
                    <button id="decrementLengthButton" class="py-1 px-3 text-center bg-[#702121] duration-150 hover:bg-[#993030] duration-150  rounded-sm cursor-pointer font-medium select-none font-mono">
                        -
                    </button>

                    <input type="number" id="passwordsLengthInput" class="text-center rounded-md p-1 border border-[#90909030] duration-150 focus:border-[#90909050] outline-none bg-[#141414] [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" value="12" min="8" max="64" maxlength="2" />

                    <button id="incrementLengthButton" class="py-1 px-3 text-center bg-[#4040BF] duration-150 hover:bg-[#6868DF] rounded-sm cursor-pointer font-medium select-none font-mono">
                        +
                    </button>
                </div>

                <h1 class="bg-transparent uppercase pt-4">
                    Generation
                </h1>

                <p class="bg-transparent font-medium text-[#909090]">
                    Click below to generate your password.
                </p>

                <div class="bg-transparent flex items-center gap-x-1 pt-2">
                    <div class="bg-transparent flex items-center justify-start gap-x-1 min-w-36">
                        <button id="decrementButton" class="py-1 px-3 text-center bg-[#702121] duration-150 hover:bg-[#993030] duration-150  rounded-sm cursor-pointer font-medium select-none font-mono">
                            -
                        </button>

                        <input type="number" id="passwordsAmount" class="text-center rounded-md p-1 border border-[#90909030] duration-150 focus:border-[#90909050] outline-none bg-[#141414] [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" value="1" min="1" max="20" maxlength="2" />

                        <button id="incrementButton" class="py-1 px-3 text-center bg-[#4040BF] duration-150 hover:bg-[#6868DF] rounded-sm cursor-pointer font-medium select-none font-mono">
                            +
                        </button>
                    </div>

                    <button id="generatePasswords" class="bg-[#4040BF] duration-150 hover:bg-[#6868DF] rounded-sm cursor-pointer text-center py-1 px-8 font-medium select-none">
                        Generate Passwords
                    </button>
                </div>

                <h1 class="bg-transparent uppercase pt-4">
                    Result
                </h1>

                <ul class="w-full flex flex-col gap-y-1 list-disc marker:text-[#909090]" id="generatedPasswords">
                    <p class="bg-transparent font-medium text-[#909090]">Generated passwords will be shown there.</p>
                </ul>
            </section>
        </main>

        <script src="../js/window/buttons.js" type="module"></script>
        <script src="../js/pages/generate.js"></script>
    </body>
</html>