<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/output.css" />

    <title>
        Password App
    </title>
</head>
<body>

<header class="h-12 w-full flex items-center justify-between border-b border-b-[#90909030] bg-[#141414]">
    <div class="p-6 bg-transparent">
        <a href="./index.html" class="bg-transparent">
            <img src="../assets/imgs/logo.png" alt="logo" width="32" height="32" class="bg-transparent select-none" />
        </a>
    </div>

    <div class="w-full draggable h-full bg-transparent flex items-center justify-between">
        <h3 class="bg-transparent text-[#90909070] select-none font-semibold">
            MANAGE PASSWORD
        </h3>
    </div>

    <div class="flex items-center justify-center gap-x-2 p-6 bg-transparent">
        <button id="minimizeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer self-center">
            <img src="../assets/icons/minimize.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
        </button>

        <button id="maximizeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
            <img src="../assets/icons/maximize.svg" alt="close" width="32" height="32" class="bg-transparent self-center" />
        </button>

        <button id="closeWindow" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
            <img src="../assets/icons/close.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
        </button>
    </div>
</header>

<div class="fixed w-[100dvw] z-10 h-[100dvh] bg-black/40 flex items-center justify-center -left-full transition-all duration-150 flex-col" id="modalDeletePassword">
    <div class="bg-transparent flex flex-col items-center justify-center">
        <header class="h-12 w-full flex items-center justify-between border-b border-b-[#90909030] bg-[#141414] rounded-t-md">
            <div class="w-full draggable h-full bg-transparent flex items-center justify-between pl-6">
                <h3 class="bg-transparent text-[#90909070] select-none font-semibold">
                    DELETE PASSWORD
                </h3>
            </div>

            <div class="flex items-center justify-center gap-x-2 p-6 bg-transparent">
                <button id="closeModal" class="p-[2px] rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                    <img src="../assets/icons/close.svg" alt="close" width="32" height="32" class="bg-transparent select-none" />
                </button>
            </div>
        </header>

        <section class="p-6  w-full bg-[#101010] rounded-b-md">
            <p class="bg-transparent text-[#909090] font-semibold">
                Are you sure you want to delete this password?
            </p>

            <div class="bg-transparent flex flex-col gap-y-2 pt-6">
                <button id="deletePasswordModal" class="bg-[#702121] duration-150 hover:bg-[#993030] text-center rounded-sm cursor-pointer py-1 w-full font-semibold">
                    Delete Password
                </button>

                <button id="cancelButton" class="bg-[#202020] duration-150 hover:bg-[#282828] text-center rounded-sm cursor-pointer py-1 w-full font-semibold">
                    Cancel
                </button>
            </div>
        </section>
    </div>
</div>

<main class="w-full h-[100dvh] bg-transparent flex">
    <aside class="bg-[#141414] min-w-16 w-16 h-full flex flex-col items-center justify-between gap-y-2 p-4 border-r border-[#90909030]">
        <div class="flex flex-col bg-transparent gap-y-2">
            <a href="./list.html" class="p-1 rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                <img src="../assets/icons/list.svg" alt="list" width="32" height="32" class="bg-transparent select-none" />
            </a>

            <a href="./generate.html" class="p-1 rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none">
                <img src="../assets/icons/generate.svg" alt="generate" width="32" height="32" class="bg-transparent select-none" />
            </a>
        </div>

        <a href="./settings.html" class="p-1 rounded-sm border border-[#90909030] bg-[#101010] cursor-pointer select-none mb-12">
            <img src="../assets/icons/settings.svg" alt="generate" width="32" height="32" class="bg-transparent select-none" />
        </a>
    </aside>

    <section class="bg-transparent w-full h-full p-6" id="management">

    </section>
</main>

<script src="../js/window/buttons.js" type="module"></script>
<script src="../js/pages/manage.js" type="module"></script>
</body>
</html>