repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-yaml
        - id: check-added-large-files
        - id: check-merge-conflict
        - id: check-case-conflict

    - repo: local
      hooks:
        - id: format-all-cpp
          name: Format all C++ files
          entry: bash scripts/format.sh
          language: system
          types: [text]
          pass_filenames: false
          always_run: true
